USE [fb_ServiceLocation]
GO
/****** Object:  Table [dbo].[FoodCenter]    Script Date: 9/24/2016 6:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodCenter](
	[FoodCenterID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ProgramNumber] [nvarchar](255) NOT NULL,
	[AgencyNumber] [nvarchar](255) NOT NULL,
	[CommunityArea] [nvarchar](255) NOT NULL,
	[ProgramType] [nvarchar](255) NOT NULL,
	[ProgramName] [nvarchar](255) NOT NULL,
	[ContactName] [nvarchar](255) NOT NULL,
	[LocationDescription] [nvarchar](1000) NOT NULL,
	[StreetName] [nvarchar](1000) NOT NULL,
	[City] [nvarchar](255) NOT NULL,
	[ZipCode] [int] NOT NULL,
	[Hours] [nvarchar](2000) NOT NULL,
	[ServiceAreas] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_Pantries_1] PRIMARY KEY CLUSTERED 
(
	[FoodCenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[MealOption]    Script Date: 9/24/2016 6:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealOption](
	[MealOptionID] [uniqueidentifier] NOT NULL,
	[MealType] [nvarchar](50) NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[StartHour] [time](7) NOT NULL,
	[EndHour] [time](7) NOT NULL,
	[FoodCenterID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MealOption] PRIMARY KEY CLUSTERED 
(
	[MealOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[ServiceArea]    Script Date: 9/24/2016 6:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceArea](
	[ServiceAreaID] [uniqueidentifier] NOT NULL,
	[FoodCenterID] [uniqueidentifier] NOT NULL,
	[ZipCode] [int] NOT NULL,
 CONSTRAINT [PK_ServiceArea] PRIMARY KEY CLUSTERED 
(
	[ServiceAreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[ZipCode]    Script Date: 9/24/2016 6:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZipCode](
	[ZipCodeID] [int] NOT NULL,
	[GeoLocation] [geography] NULL,
	[Lat] [float] NULL,
	[Lon] [float] NULL,
 CONSTRAINT [PK_ZipCode] PRIMARY KEY CLUSTERED 
(
	[ZipCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
INSERT [dbo].[FoodCenter] ([FoodCenterID], [IsActive], [ProgramNumber], [AgencyNumber], [CommunityArea], [ProgramType], [ProgramName], [ContactName], [LocationDescription], [StreetName], [City], [ZipCode], [Hours], [ServiceAreas]) VALUES (N'b40f6773-2cf8-42f5-95de-0059a86573ac', 1, N'KC00329', N'A70009', N'South Chicago', N'SFSP', N'St. Thomas', N'Adrianna Butcher Moss', N'SFSP 2016 Cold', N'8000 S. Jeffery Blvd', N'Chicago', 60617, N'MTWTF Lunch 11:15-12:00pm; PM Snack 3:00-3:15pm', N'Open Program')
INSERT [dbo].[FoodCenter] ([FoodCenterID], [IsActive], [ProgramNumber], [AgencyNumber], [CommunityArea], [ProgramType], [ProgramName], [ContactName], [LocationDescription], [StreetName], [City], [ZipCode], [Hours], [ServiceAreas]) VALUES (N'e84fc250-351d-458a-8ab2-00cdf73fbeee', 1, N'KC00454', N'A70009', N'Uptown', N'SFSP', N'Alternatives Inc - Urban Arts', N'Brittany Hill', N'SFSP 2016 - Cold', N'4730 North Sheridan', N'Chicago', 60640, N'TWTF Lunch 2:30pm-4:30pm', N'Closed Program')
INSERT [dbo].[FoodCenter] ([FoodCenterID], [IsActive], [ProgramNumber], [AgencyNumber], [CommunityArea], [ProgramType], [ProgramName], [ContactName], [LocationDescription], [StreetName], [City], [ZipCode], [Hours], [ServiceAreas]) VALUES (N'e12005f0-f2a2-4cc4-9df6-00e813380259', 1, N'KC00413', N'A70009', N'Sauk Village', N'SFSP', N'RSOC', N'Patricia Denson', N'SFSP 2016 Hot', N'', N'', 0, N'MTWTF Breakfast 9-10am; Lunch 12-1pm', N'Open Program')
GO
INSERT [dbo].[MealOption] ([MealOptionID], [MealType], [DayOfWeek], [StartHour], [EndHour], [FoodCenterID]) VALUES (N'fbf19149-f8a1-409f-af4e-1dd52adc34c3', N'Lunch', 4, CAST(N'11:15:00' AS Time), CAST(N'12:00:00' AS Time), N'b40f6773-2cf8-42f5-95de-0059a86573ac')
INSERT [dbo].[MealOption] ([MealOptionID], [MealType], [DayOfWeek], [StartHour], [EndHour], [FoodCenterID]) VALUES (N'17b5a7aa-c676-4224-8919-20e76e03bdb7', N'Snack', 5, CAST(N'15:00:00' AS Time), CAST(N'15:15:00' AS Time), N'b40f6773-2cf8-42f5-95de-0059a86573ac')
INSERT [dbo].[MealOption] ([MealOptionID], [MealType], [DayOfWeek], [StartHour], [EndHour], [FoodCenterID]) VALUES (N'33cd036b-d21b-4c53-a3bc-2a6797905b58', N'Lunch', 1, CAST(N'11:15:00' AS Time), CAST(N'12:00:00' AS Time), N'b40f6773-2cf8-42f5-95de-0059a86573ac')
INSERT [dbo].[ServiceArea] ([ServiceAreaID], [FoodCenterID], [ZipCode]) VALUES (N'64adfc6e-c4a6-4902-bbcc-008496eafe4f', N'b633bd64-84b4-4663-a8f3-8761a62717ff', 0)
INSERT [dbo].[ServiceArea] ([ServiceAreaID], [FoodCenterID], [ZipCode]) VALUES (N'4f9c907e-a580-439e-a1db-0205b7478a2c', N'fb556c38-df0a-47ba-aff7-c427746b3890', 60827)
INSERT [dbo].[ServiceArea] ([ServiceAreaID], [FoodCenterID], [ZipCode]) VALUES (N'c2ce587e-5ce2-44e3-aad8-02e8626faef0', N'7ae6afc1-6689-45b7-b77c-353eb8f99eb2', 60636)
GO
INSERT [dbo].[ZipCode] ([ZipCodeID], [GeoLocation], [Lat], [Lon]) VALUES (60004, 0xE6100000010C79967BDC120E454022872DE2E0FE55C0, 42.1099506, -87.9824758)
INSERT [dbo].[ZipCode] ([ZipCodeID], [GeoLocation], [Lat], [Lon]) VALUES (60005, 0xE6100000010CF788E29F6308454046BE011C31FF55C0, 42.0655403, -87.9873724)
INSERT [dbo].[ZipCode] ([ZipCodeID], [GeoLocation], [Lat], [Lon]) VALUES (60006, 0xE6100000010CEC51B81E850B45401F85EB51B8FE55C0, 42.09, -87.98)
GO
